<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MSCAccesoDatos.Properties.Settings.COLEGIOSConnectionString"
            connectionString="Data Source=ADM;Initial Catalog=COLEGIOS;User ID=sa;Password=sco12"
            providerName="System.Data.SqlClient" />
        <add name="MSCAccesoDatos.Properties.Settings.MSCollegeDBConnectionString"
            connectionString="Data Source=186.151.198.5;Initial Catalog=MSCollegeDB;Persist Security Info=True;User ID=sa;Password=Junio2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>